/* what the food css */
/* made with the attitude of Sass. */
body {
  font-family: "Ubuntu", arial, serif;
  font-size: 1.1em;
  background-color: #fff5f5; }

a {
  color: #999999;
  text-decoration: none; }

p {
  font-family: "Ubuntu", arial, serif;
  font-size: 0.8em; }

/* fix meals */
span.meal_name {
  font-family: "Ubuntu", arial, serif;
  text-align: right;
  font-size: 2em;
  color: #555555; }

span.meal_ingredient {
  font-family: "Ubuntu", arial, serif;
  text-align: right;
  font-size: 1.1em;
  color: #555555; }

span.meal_day {
  font-family: "Ubuntu", arial, serif;
  text-align: right;
  font-size: 2em;
  color: #555555; }

span.meal_delete {
  font-family: "Ubuntu", arial, serif;
  text-align: right;
  font-size: 0.8em;
  color: #555555;
  float: right; }

/* clearer */
.clear {
  clear: both; }

/* positioning */
#main {
  width: 600px;
  margin: 30px auto 30px auto;
  border: 0px solid #222222; }

#title {
  color: #555;
  text-shadow: 0px 1px 1px #222222;
  font-family: Georgia, Times, Helvetica, serif;
  font-weight: bold;
  font-size: 3em;
  margin: 0px 0px 30px 0px;
  text-align: center; }

#meal_new {
  height: 100px;
  margin: 0px 0px 20px 0px; }

.meal_fix {
  height: 90px; }
  .meal_fix .meal_left {
    float: left;
    width: 290px;
    margin: 0px 0px 0px 36px; }
  .meal_fix .meal_right {
    float: right;
    width: 212px; }

/* inputs */
.meal_left_input {
  float: left; }

.meal_right_input {
  float: right; }

input[name=meal_name] {
  width: 330px;
  float: right;
  font-family: "Ubuntu", arial, serif;
  padding: 4px;
  margin: 2px 4px;
  font-size: 2em;
  border: 1px solid #999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset; }

input[name=meal_day] {
  width: 200px;
  font-family: "Ubuntu", arial, serif;
  padding: 4px;
  margin: 2px 4px;
  font-size: 2em;
  border: 1px solid #999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset; }

input[name=meal_ingredient] {
  float: right;
  width: 300px;
  font-family: "Ubuntu", arial, serif;
  padding: 4px;
  margin: 2px 4px;
  font-size: 1.1em;
  border: 1px solid #999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset; }

#input_enter {
  float: right;
  margin: 2px 8px; }

/* footer */
#finish_line {
  clear: both;
  margin: 40px 0px 0px 0px;
  border-top: 1px dotted #ccc; }

/* logo drop shadows */
.drop-shadow {
  position: relative;
  padding: 0.5em;
  margin: 2em 10px 4em;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.drop-shadow:before, .drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2; }

.drop-shadow p {
  font-size: 16px;
  font-weight: bold; }

.curved:before {
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px; }

.curved-vt-2:before {
  right: 0; }

.curved-hz-1:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px/10px;
  border-radius: 100px/10px; }

.curved-hz-2:before {
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px/10px;
  border-radius: 100px/10px; }

/* button minimal */
button.minimal {
  background: #e3e3e3;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #555;
  font-family: "Ubuntu", arial, serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px; }

button.minimal:hover {
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer; }

button.minimal:active {
  background: #d0d0d0;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000; }
